<% provide(:page_title, 'Strona główna') %>
<% provide(:post_active, 'active') %>

<div class="row">
  <%= render @posts %>
</div>

<div class="apple_pagination">
  <div class="col-xl-12">
    <%= will_paginate @posts, container: false %>
  </div>
</div>
