<div class='col-sm-6 col-lg-4'>
  <div class="card">

    <div class="card-topper" style='background-image: url(<%= ticket.picture_url %>);'></div>

    <div class="card-block">
      <h4 class="card-title"><%= ticket.name %></h4>
      <h6 class="published-date">Posiadane bilety: <%= ticket.ticket_counter %></h6>
    </div>
  </div>
</div>

