<% provide(:page_title, 'Twoje Bilety') %>
<% provide(:tickets_active, 'active') %>

<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Twoje bilety</h1>
</div>

<div class="row">
  <% if @tickets.length != 0 %>
    <% @tickets.each do |ticket| %>
      <%= render ticket %>
    <% end %>
  <% else %>
    <h2>Brak zakupionych biletów</h2>
  <% end %>
</div>
