<% provide(:page_title, 'O nas') %>
<% provide(:about_active, 'active') %>

<div class="row">
  <h1>O nas</h1>
</div>

<div class="row">
  <div class="col-md-1 col-lg-2"></div>
  <div class="col-md-10 col-lg-8 text-xs-center article">
    <p>Church-key cold-pressed vice gochujang biodiesel artisan. Veniam four dollar toast artisan lomo asymmetrical
    raclette irure kickstarter, neutra nostrud consequat typewriter. Pug disrupt portland VHS, gluten-free taxidermy
    exercitation shaman next level ennui neutra kogi esse drinking vinegar kombucha. Raclette man bun VHS shaman
      biodiesel tofu gochujang.</p>

    <p>Reprehenderit ea eiusmod, migas church-key art party typewriter master cleanse shaman knausgaard excepteur
    dreamcatcher asymmetrical. Ut bushwick non, af semiotics lyft drinking vinegar prism thundercats crucifix. Pug jean
    shorts laborum keytar taxidermy, celiac snackwave la croix hammock palo santo schlitz PBR&B. Craft beer organic lomo
    qui, dolore adipisicing glossier migas proident aliqua waistcoat. Pug chartreuse hot chicken mixtape chia XOXO
    coloring book meh tacos ullamco hashtag keffiyeh proident voluptate. Dolor +1 commodo, aute godard listicle whatever
      fashion axe selfies quis vinyl actually ipsum.</p>

    <p>Venmo gastropub in disrupt cardigan, velit celiac fam flexitarian aliqua cred fanny pack dolore taiyaki offal.
    Activated charcoal copper mug fixie, roof party adaptogen chambray taxidermy palo santo enamel pin art party
    typewriter tilde. 90's franzen marfa neutra, sint succulents seitan gentrify letterpress four loko. Distillery
    yuccie ut, proident iPhone eiusmod ad ennui wayfarers culpa wolf excepteur.

    Selfies meggings crucifix vexillologist qui unicorn aute fam pabst hashtag. In meh affogato ennui velit organic pok
    pok. Id ipsum DIY fam kitsch, small batch dolor scenester. Disrupt aute cardigan beard. Twee vape gastropub unicorn
    readymade, chartreuse vegan. Authentic squid ramps franzen tilde, proident pitchfork +1 tattooed vinyl keffiyeh art
      party direct trade cray.</p>

    <p>Cray gluten-free austin, letterpress brunch slow-carb prism selvage freegan. Pariatur flannel live-edge, raclette
    cardigan migas kogi eu green juice bitters palo santo kombucha. Cold-pressed cray nisi gastropub fam meditation.
    Flexitarian sunt occaecat, kombucha occupy culpa pabst velit. Laboris tilde lumbersexual man bun hoodie vinyl jean
    shorts pour-over sunt dolore nulla chia. Exercitation art party marfa excepteur kitsch tattooed portland veniam
      affogato next level.</p>

    <p>Oh. You need a little dummy text for your mockup? How quaint.</p>

    <p>I bet you’re still using Bootstrap too…</p>
  </div>
</div>
