<% provide(:page_title, 'Twoje artykuły') %>
<% provide(:author_post_active, 'active') %>


<div class="row">
  <div class="space">
    <%= link_to 'Nowy artykuł', new_authors_post_path, class: 'btn btn-primary' %>
  </div>
  <table class="table table-striped">
    <tr>
      <th colspan="5">
        Tytuł
      </th>
    </tr>
    <%= render @posts %>
  </table>
</div>
<div class="apple_pagination">
  <%= will_paginate @posts, container: false %>
</div>





