<% provide(:page_title, 'Strona główna') %>
<% provide(:post_active, 'active') %>


<div class="row">
  <div class="space">
    <%= link_to 'Nowy post', new_author_post_path, class:'btn btn-primary' %>
  </div>
  <table class="table table-striped">
    <tr>
      <th colspan="4">
        Title
      </th>
    </tr>
  </table>
</div>

<table>
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>

    <% end %>
  </tbody>
</table>

<br>




