<div>
  <%= link_to 'Edytuj', edit_authors_start_path(@start), class: 'btn btn-sm btn-warning' %>
  <%= link_to 'Usuń', authors_start_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
</div>


<div class="parallax-image-static" style="background-image: url(<%= @start.picture_url %>)">
  <h1><%= @start.title %></h1>
</div>
